body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#resonanceCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#info {
    display: none;
}

h1 {
    color: #0f0;
}